.page__background{
    background-color: #f6f6f6;
	
}
.fab{
    background-color: #3d4844;
}

.vert_grid{
    display: table;
    width: 100%;
    height: 100%;	
}
.vert_grid_box{
	display: table-row;
}
.hor_grid{
    display: table;
    width: 100%;
}
.hor_grid_box{
	display: table-cell;	
}
.js-button {
    width: 20vh;
    height: 20vh;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 64px;
    background: #fff;
	-webkit-box-shadow: 0 0px 4px 0 rgba(0,0,0,0.4);
    box-shadow: 0 0px 4px 0 rgba(0,0,0,0.4);
}
footer .wrap {
	padding: 8px;
    height: 52px;
    display: block;
}
footer .now {
    background: #000;
    display: block;
    width: 52px;
    height: 52px;
    float: left;
    margin-right: 8px;
}
footer .play {
    /* background: #000; */
    display: block;
    width: 52px;
    height: 52px;
    float: right;
    margin-left: 8px;
	    font-size: 43px;
    text-align: center;
}

.artist {
    color: #35403c;
    font-size: 0.85em;
	text-align: center;
}
.song {
	color: #35403c;
    font-size: 1.1em;
    margin-top: 0.15em;
    margin-bottom: 0.2em;
	text-align: center;
}

#stream {
    position: fixed;
    bottom: 0;
    width: 0;
    height: 0 !important;
    display: none;
}


.trackinfo {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}
.trackinfo .img {
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}




.material-icon {
    width: 70px;
    height: 70px;
    margin: 55px;
    position: relative;
}

.material-icon span,
.material-icon {
    transition: all 500ms ease;
}

.material-icon span {
    background-color: #fff;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.material-icon:before,
.material-icon:after {
    background: transparent;
    width: 0;
    height: 0;
    display: block;
    position: relative;
    width: 100px;
    height: 40px;
    z-index: 1;
    transform: translateY(-50px);
    transition: all 500ms ease;
    color: transparent;
}
.pause {
    -webkit-transform: rotate(90deg);
}
.pause span {
    height: 25px;
}
.stop span, .play span {
    height: 35px;
}

.stop .second, .play .second {
    height: 45px;
    -webkit-transform: translateY(25px);
}

.play {
    -webkit-transform: rotate(180deg);
}

.play:before {
    -webkit-transform: translateY(-24px) translateX(-17px) rotate(-26deg);
}

.play:after {
    -webkit-transform: translateY(11px) translateX(-22px) rotate(26deg);
}
.pause .second {
    -webkit-transform: translateY(45px);
}
.stop {
    -webkit-transform: rotate(270deg);
}
.stop span {
    height: 35px;
}
.stop .second {
    height: 45px;
    -webkit-transform: translateY(25px);
}