.logo
    width: 120px
    height: 120px
    margin: 10px auto
    background-image: url(../../logo/3.png)
    background-size: cover
    background-repeat: no-repeat
    background-position: 50%

// Вертикальная сетка формирования
.vert_grid
    display: table
    width: 100%
    height: 100%

.vert_grid_box
	display: table-row

.hor_grid
    display: table
    width: 100%

.hor_grid_box
	display: table-cell
	text-align: center
	
// Вывод названия песни

.artist  
  font-size var-font-size--large
  font-weight 400
  line-height var-button-large-line-height
  display block
  width 100%
  text-align center

.song
  font-size var-font-size--large
  font-weight 700
  line-height var-button-large-line-height
  display block
  width 100%
  text-align center
	

	
	
	
.playbtn 
	position: relative
	width: 150px
	height: 150px
	margin: 0 auto
	
.playbtn .l1s
	width: 100%
	height: 100%
	position: absolute
	top: 0px
	left: 0px
	background-image: url(../../img/play-l1.png)
	z-index: 1
	background-size: cover

.playbtn .l2s
	width: 100%
	height: 100%
	position: absolute
	top: 0px
	left: 0px
	background-image: url(../../img/play-l2.png) 
	z-index: 2
	background-size: cover

.playbtn .l3s
	width: 100%
	height: 100%
	position: absolute
	top: 0px
	left: 0px
	background-image: url(../../img/play-l3.png) 
	z-index: 3
	background-size: cover

.playbtn .l4s
	width: 100%
	height: 100%
	position: absolute
	top: 0px
	left: 0px
	background-image: url(../../img/play-SPa.png)
	z-index: 4
	background-size: cover

	
#poll
	display: none
	
#volume
	width: 50%
	position: relative
	height: 25px